.chat-container{
    min-width: 348px;
    flex:1;
    display: flex;
    flex-direction: column;
}

.chat-container-header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 7px 0px 7px 10px;
    align-items: center;
    justify-content: space-between;
}

.chat-user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-family: roboto;
}

.chat-user-img {
    width: 44px;
    margin-right: 15px;
    margin-left: 10px;
}

.chat-user-img > img {
    width: 100%;
    border-radius: 100%;
}

.chat-container-header-btn {
    margin-right: 20px;
    color: #FFFFFF;
}

.chat-display-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #767676;
    border-radius: 25px 25px 0px 0px;
}

.chat-input{
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: gray;
    position: relative;
}

.chat-input-btn{
    margin-left: 13px;
    margin-right: 13px;
}

.chat-input-btn > .MuiSvgIcon-root {
    font-size: 26px;
    color: white;
    opacity: 70%;
    cursor: pointer;
    margin-right: 10px;
}

.chat-input > form {
    flex: 1;
}

.chat-input > form > input{
    height: 35px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 97%;
    margin-right: 10px;
    color: white;
    background-color: darkgrey;
}

.chat-input-send-btn{
    width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.chat-input-send-btn > .MuiSvgIcon-root{
    font-size: 22px;
} 

::placeholder{
    color:#FFFFFF;
    opacity: 50%;
}

.emoji-picker-react {
    position: absolute !important;
    top: -325px;
}