.chat-message{
    display: flex;
    margin: 15px 30px 15px 30px;
    flex-direction: column;
    position: relative;
    width: fit-content;
    min-width: 100px;
    max-width: 400px;
    padding: 10px;
    background-color: #565656;
    border-radius: 10px;
    height: fit-content;
    align-items: baseline;
}

.chat-message-text{
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
    color:white;
    font-family: roboto;
}

.chat-message-date {
    font-size: 11px;
    color: lightgray;
    font-weight: normal;
    align-self: flex-end;
    font-family: roboto;
}

.picker {
    position: absolute !important;
    top: -460px;
}