.containerx{
    background-color:black;
}

.hero{
  position:relative;
}
  .background-image{
    filter: brightness(60%);
    height:100vh;
    width:100vw;
  }

  .mcontainer{
    position:absolute;
    bottom: 5rem;
  }
  .logos{
    width: 100%;
    height: 100%;
    margin-left: 5rem;
  }
  .buttons{
    margin:5rem;
    gap:2rem;
  }
  .buttons button {
    font-size: 1.4rem;
    gap: 1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2.4rem;
    border:none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .buttons :hover {
    opacity: 0.8;
  }
  .buttons :nth-of-type(2){
    background-color: rgba(109, 109, 110, 0.7);
    color:white;
  }
  .buttons :nth-of-type(2) svg{
    font-size: 1.8rem;
  }