  body{
    background: darkslategray;
  }
  .row{
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
  }
  
  .box1{
    text-align: center;
    background: grey;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .msg{
    padding: 0.5rem 9rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }
  .type-box{
    text-align: left;
  }
  .chat-box{
    background: #ffffff;
    padding: 200px 20px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  .msg-button{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  .btn{
    background-color:darkslategray;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    color:white;
    text-decoration: none;
    font-size: 18px;
  }
  .voi-box{
    background: lightgray ;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  .att-btn{
    padding: 10px 15px;
    border-radius: 100px;
    background-color:darkseagreen;
    color: white;
  }
  .scr-btn{
    padding: 10px 15px;
    border-radius: 100px;
    background-color:red;
    color: white;
  }
.contacts{
  text-align: left;
}
.call-btn{
  margin-bottom: 20px;
}
.name {
  text-decoration: none;
  color: black;
  font-size: 20px;
}